li {
    list-style-type: none;
    margin-bottom: 3px;
}

#searchButton {
    margin-left: 2px;
    
}

.buttons {
    width: 29px;
    height: 29px;
    margin-right: 3px;
    
}


@media only screen and (min-width: 320px) and (max-width: 813px) {

    .card {
        display: flex;
        align-items: left;
       
    }
    .buttons {
        width: 29px;
        height: 29px;
        border-style: solid;
        border-color: rgb(153, 156, 153);
        border-width: 2px;

    }
 
}