/* BUTTONS ONLY CSS STARTS HERE */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain) */
/* HTML5 display-role reset for older browsers */
/* article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; } */
body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Prevents iPhone from resizing in landscape mode */
/* html {
    -webkit-text-size-adjust: none;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
} */
/* apply a natural box layout model to all elements */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 15px;
}

a.animated-button:link:after,
a.animated-button:visited:after {
    content: "";
    position: absolute;
    height: 0%;
    left: 50%;
    top: 50%;
    width: 150%;
    z-index: -1;
    -webkit-transition: all 1s ease 2s;
    -moz-transition: all 1s ease 2s;
    -o-transition: all 1s ease 2s;
    transition: all 1s ease 2s;
}

a.animated-button:link:hover,
a.animated-button:visited:hover {
    color: gold;
    text-shadow: none;
}

a.animated-button:link:hover:after,
a.animated-button:visited:hover:after {
    height: 450%;
}

a.animated-button:link,
a.animated-button:visited {
    position: relative;
    display: block;
    margin: 30px auto 0;
    padding: 14px 15px;
    color: gold;
    font-size: 14px;
    border-radius: 0;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: .08em;
    text-shadow: 0 0 1px rgb(0, 0, 0), 0 1px 0 rgba(4, 21, 255, 0.842);
    -webkit-transition: all 1s ease 2s;
    -moz-transition: all 1s ease 2s;
    -o-transition: all 1s ease 2s;
    transition: all 1s ease 2s;
}

/* Sandy Buttons */
a.animated-button.sandy-one {
    border: 4px solid gold;
    color: red;
}

a.animated-button.sandy-one:after {
    border: 7px solid red;
    opacity: 0;
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

a.animated-button.sandy-one:hover:after {
    height: 120% !important;
    opacity: 0;
    color: blue;
}

/* BODY */
div.scrollmenu {
    background-color: rgb(51, 51, 51);
    overflow: auto;
    white-space: nowrap;
    cursor: pointer;
}

div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.active {
    background-color: rgb(126, 127, 130);
}

#header-container {
    top: 0;
    width: 100%;
}

body {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #666;
    background-color: #fff;
}

div#wrapper {
    /* height: 13vh */
    /* position: relative */
    /* background: #f3f6f9 */
}

/* HEADER */
header {
    width: 100%;
    background-color: rgba(0, 68, 102, 0);
    padding: .5rem 0 .5rem 2%;
    background: -webkit-radial-gradient(right center, rgb(0, 0, 0) 0%, rgb(67, 67, 67) 100%);
    border-bottom-left-radius: 0px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8pX;
}

header h1,
header h2 {
    color: white;
}

header h1 {
    font-size: 1.5rem;
    font-weight: 700;
    padding-top: .5rem;
    padding-bottom: .5rem;
    text-align: center;
}

header h2 {
    font-size: .75rem;
    font-weight: 400;
    padding-top: .2rem;
}

#main-body {
    position: relative;
    top: 100px;
}

/* MAIN */
main {
    display: flex;
    width: 100%;

    /* min-height: 5em */
}

main #featured {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    color: #004466;
}

.headline {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: left;

    /* font-size: 1.2rem */
    font-weight: bold;
    color: #333;
}

.headline-image {
    margin-top: 17px;
    width: 100%;

    /* object-position: left */
    height: 50%;
}

.source {
    font-size: .8rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #333;
    float: left;
}

.time {
    font-size: .8rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #5b5b5b;
    float: right;
}

#clear {
    clear: both;
}

/* cards */
.card {
    transition: 1s;
    border-radius: 25px;
    margin-top: .5rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    box-shadow: 0 8px 16px 0 rgba(255, 207, 2, 0.9);
    padding: 16px;
    text-align: center;
    background-color: gold;
}

/* Add some padding inside the card container */
/* .container {
    padding: 2px 16px;

    ||*| overflow: hidden |*||
    /* width: 75% */
*/
img {
    display: none;
    border-radius: 5px 5px 15px 15px;
}

/* FOOTER */
footer {
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 1em;
    margin-top: 2%;
    background-color: #004466;
    color: #fff;
    font-size: .9rem;
}

/* OTHER */
div.keepOpen {
    clear: both;
}

@media only screen and (min-width: 480px) {
    /* tablet */
    #right {
        float: right;
    }

    #left,
    ht {
        float: left;
        width: auto;
    }

    footer {
        clear: both;
    }
}

@media only screen and (min-width: 800px) {
    /* desktop */
    div#wrapper {
        border-radius: 10px;
        max-width: auto;
        margin: 0rem auto 0 auto;
        height: auto;
        box-shadow: 12px 12px 20px #999;
        background-color: #000000;
        border: 1px solid #000000;
    }

    footer {
        clear: both;
        background: -webkit-radial-gradient(right center, rgb(0, 0, 0) 0%, rgb(67, 67, 67) 100%);
        margin-left: 0px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }

    #header-container {
        /* position: relative */
        /* top: inherit */
    }

    #main-body {
        position: relative;
        top: inherit;
        background: linear-gradient(90deg, #000000, #434343);
    }

    /* On mouse-over, add a deeper shadow */
    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
        cursor: pointer;
    }
}

footer {
    bottom-left-border-radius: 8px;
    clear: both;
    background: -webkit-radial-gradient(right center, rgb(0, 0, 0) 0%, rgb(67, 67, 67) 100%);
}
}
